- var nicknames = data.nicknames;
- var sphereIDs = data.sphereIDs;
- var currentSphere = data.currentSphere;
- var feed = data.feed; 
- var posts = data.posts; 
- var announcements = Object.keys(data.announcements);
- var sphereMap = data.sphereMap;
- var contacts = data.contacts;
- var contactIds = Object.keys(contacts);
- var requests = data.requests;
- var requesterIds = Object.keys(requests);
- var invites = data.invites; 
- var invitedSpheres = Object.keys(invites);
- var newRequests = data.newRequests;
#container
    #chat
        .dropdown
            #navButtons 
                a#settings(data-toggle="dropdown" href="#")
                ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                    li(role="presentation" class="dropdown-header") Profile Settings
                    li(role="presentation")
                        a(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#nickChange" href="#") Set Nickname(s) 
                    li(role="presentation" class="divider")
                    li(role="presentation")
                        a(role="menuitem" tabindex="-1" href="#" onclick="logout();") Logout 
                a#contacts(data-toggle="modal" data-target="#contactList")
                if newRequests > 0
                    span#newRequests
                        p 
                            =newRequests
                else
                    span#newRequests(style="display:none;")
        #chatLogo
        .dropdown
            a#currentInfo.btn.btn-primary( data-toggle="dropdown" href="#")
                span#notifications.badge.badge-success
                span#currentSphere
                    if sphereMap[currentSphere].type == "Personal"
                        span(class="glyphicon glyphicon-user" style="padding-right:5px;")
                    else
                        span(class="glyphicon glyphicon-globe" style="padding-right:5px;")
                    =sphereMap[currentSphere].name 
                    span.caret 
            ul#sphereList.dropdown-menu(role="menu" aria-labelledby="dLabel")
                li.dropdown-header(role="presentation") My Spheres
                li(role="presentation" id="sphereNames")
                    each sphereID, i in sphereIDs 
                        if sphereMap[sphereID]
                            - var updates = sphereMap[sphereID].updates;
                            - var sphereName = sphereMap[sphereID].name;
                            a(class = "sphere" data=sphereID role="menuitem" tabindex="-1" data-toggle="modal" href="#")
                                if updates > 0
                                    span.sphereUpdates(id="updates-" + i)
                                        =updates
                                    &nbsp;
                                else
                                    if sphereMap[sphereID].type == "Personal"
                                        span(id ="okcircle-" + i class="glyphicon glyphicon-user") 
                                    else
                                        span(id ="okcircle-" + i class="glyphicon glyphicon-globe") 
                                    &nbsp;
                                span.sphereName
                                    =sphereName
                li#sphereDivider.divider(role="presentation" )
                li(role="presentation")
                    a#sphereCreate(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#sphereDialog" href="#") <span class="glyphicon glyphicon-plus-sign"></span> Create Sphere
                li(role="presentation")
                    a#sphereDelete(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#deleteSphere" href="#") <span class="glyphicon glyphicon-minus-sign"></span> Delete Sphere
        audio#notifySound(src="/sounds/waterDrop.ogg" preload="auto")
        #users 
            if sphereMap[currentSphere].type === "Group"
                a#share_small(data-toggle="modal" data-target="#shareModal")
            each nickname in nicknames
                p=nickname
        #content(class="form-control")
            .postBox
                 textarea#urlInput(class="form-control" placeholder="Drop or paste URL")
                 textarea#postInput(class="form-control" maxlength="140" placeholder="Add or change a title to a post ")
                 #previewContainer(style="display:none")
                    a#closePreview(href="#" onclick="closePreview();")
                        img(src="/img/close_preview.png")
                    #previewLink(class="post")
                 input#drop(type='button' class="btn btn-primary" value='drop' onclick='getLink();')
                 input#post(type='button' class="btn btn-primary" value='post' onclick='postMsg();')
            .alert(style="display:none;") text
            #feed
                if announcements.length > 0
                    if announcements.indexOf("welcome") >= 0
                        p.announcement
                            | Welcome to dropsphere! Hit drop on any page to grab its content, then post to share it! 
                    if sphereMap[currentSphere].type === "Main"
                        p.announcement
                            | You currently are in your sphere, your private space to save links. If you want to share links with others just
                            a(data-toggle="modal" data-target="#sphereDialog" href="#")  create a new sphere 

                if feed.length > 0 
                    each postID in feed
                        - var post = posts[postID];
                        - var sender = post['sender'];
                        - var content = post['content'];
                        - var isOwner = post['isOwner'];
                        - var isLink = post['isLink'];
                        - var postTime = post['postTime'];
                        - var seenConvo = post['seen'];
                        - var memberNum = nicknames.indexOf(sender);
                        - var viewers = post['viewers'];
                        - var viewerNames = "";
                        each viewerName, index in viewers 
                            - viewerNames += viewerName
                            if index < viewers.length - 1
                                - viewerNames +=  ", ";
                        if viewerNames.length > 0
                            - viewerNames = "Viewed by: " + viewerNames; 
                        .post(data= postID)
                            .sender(class='user'+ memberNum)
                                if isOwner === true 
                                    .dropdown
                                        a#postSettings(data-toggle="dropdown" title="Settings" href="#")
                                        ul#postDropdown.dropdown-menu(role="menu" aria-labelledby="dLabel")
                                            li(role="presentation")
                                                a#editOption(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#editPost" href="#")
                                                    span(class="glyphicon glyphicon-pencil")
                                                    span.postOption Edit post
                                            li(role="presentation")
                                                a#removeOption(role="menuitem" tabindex="-1" data-toggle="modal" data-target="#removePost" href="#") 
                                                    span(class="glyphicon glyphicon-trash")
                                                    span.postOption Remove Post 

                                span
                                    if sphereMap[currentSphere].type != "Main"
                                        .postername=sender 
                                    .time=moment(postTime).format("MMM Do, h:mm a")
                            .postContent
                                if isLink === true
                                        if content["image"] == ""
                                            a.post_link(target='_blank' href=content['url'])
                                                if content['thumbnail'] === ""
                                                    span.title(style='float:none; padding:5px;')=content['title']
                                                else
                                                    img(src=content['thumbnail'])
                                                    span.title=content['title'] 
                                        else
                                            a.post_image(target='_blank' href=content['image'])
                                                img(src=content['image'])
                                                span.title.image=content['title']
                                else
                                    a.textPost
                                        =content['title']
                            .postButtons  
                                ul
                                    if sphereMap[currentSphere].type != "Main"
                                        li(style="float:left;")
                                            a.viewedIcon(href='#' data-toggle="showViewers" data-placement="top" title=viewerNames)
                                                if viewers.length > 0
                                                    span.viewedNum
                                                        =viewers.length 
                                    li
                                        a.shareIcon(href='#' title="Share Link" data-toggle="modal" data-target="#sharePost")   
                                    if sphereMap[currentSphere].type != "Main"
                                        li
                                            a.saveIcon(href='#' title="Save Link")   
                                        li
                                            a(href='#' title="Comments")    
                                                if seenConvo === false 
                                                    a.unseenChat(href='#' title="Comments")  
                                                else 
                                                    a.chatIcon(href='#' title="Comments")
        #messageBox.controls(style="display:none")
            textarea#messageInput(class="form-control" placeholder="Enter a message...")
            input#send(type='button' class="btn btn-primary" value='send')
        #dropperControl.btn-group
            button.btn.btn-default(type="radio" onclick="")
                span.glyphicon.glyphicon-align-center
            button.btn.btn-default(type="radio")
                span.glyphicon.glyphicon-picture
            button.btn.btn-default(type="radio")
                span.glyphicon.glyphicon-link
#shareModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
         .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title Invite Others to this Sphere! 
              .modal-body
                label Copy and paste the link below
                input#inviteLink(class="form-control" placeholder="New Name" value= sphereMap[currentSphere].link readonly="readonly")
                if contactIds.length > 0
                    label#inviteSelectLabel(style="margin-top:20px;") Or select from your contact list
                else
                    label#inviteSelectLabel(style="display:none; margin-top:20px;") Or select from your contact list
                ul#inviteContacts
                    each contactId in contactIds
                        - var contact = contacts[contactId];
                        li
                            a(href='#' data=contactId)
                                span(class="glyphicon glyphicon-user")
                                span.beingInvited=contact 
                .modal-footer
                    button#inviteToSphere.btn.btn-primary(type="button") Invite 
               
#contactList.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
         .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title Contacts
              #contactsContent.modal-body
                h5 
                    span(class="glyphicon glyphicon-plus-sign")
                    a#addContact(href="#") Add Contact
                    a#backToContacts(style="display:none;" href="#") Contact List
                #contactListContainer
                    if invitedSpheres.length > 0 
                        label#inviteLabel Sphere Invitations..
                    else
                        label#inviteLabel(style="display:none") Sphere Invitations..
                    ul#pendingInvites
                        each invitedSphere in invitedSpheres
                            - var sphereName = invites[invitedSphere][0];
                            - var sender = "(from: " + invites[invitedSphere][1] + ")";
                            li(data=invitedSphere)
                                span(class="glyphicon glyphicon-globe")
                                span#invitedSphere=sphereName 
                                span#inviteSender=sender
                                a#acceptInvite(href='#') Accept
                                a#ignoreInvite(href='#') Ignore
                    if requesterIds.length > 0
                        label#requestLabel Pending Requests..
                    else 
                        label#requestLabel(style="display:none") Pending Requests..
                    ul#pendingRequests
                        each requesterId in requesterIds
                            - var requester = requests[requesterId];
                            li(data=requesterId)
                                span(class="glyphicon glyphicon-user")
                                span#requesterName=requester 
                                a#acceptRequest(href='#') Accept
                                a#ignoreRequest(href='#') Ignore
                    ul#contactNames
                        each contactId in contactIds
                            - var contact = contacts[contactId];
                            li(data=contactId) 
                                span(class="glyphicon glyphicon-user")
                                a(href='#')=contact 
                #contactAdding(style="display:none")
                    p Enter the username or email of your new contact
                    input(class="form-control" placeholder="Name or Email")
                    span#contactNotifications(style:"display:none;")
                    .modal-footer
                        button#contactAdd.btn.btn-primary(type="button") Add 
#nameChange.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title New Username  
      
      .modal-body
        input#newName(class="form-control" placeholder="New Name")
      
      .modal-footer
        button#saveName.btn.btn-primary(type="button") Save changes
#nickChange.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Add a nickname!
      .modal-body
        h5.modal-title Please enter a nickname
        input#newNick(class="form-control" placeholder="(Mom, Dad, Heisenberg, Flynn)")
        h5.modal-title Where would you like it seen?
        ul#nickAddingSpheres
            each sphereID, i in sphereIDs
                if sphereMap[sphereID] 
                    - var sphereName = sphereMap[sphereID].name;
                    - var sphereNick = sphereMap[sphereID].nickname;
                    li(data=sphereID)
                        a#selectingSphere
                        =sphereName 
                        = ' '
                        span 
                            if sphereNick.length > 0
                                - sphereNick = "(" + sphereNick + ")";
                            else
                                - sphereNick = "(No Nickname)";
                            =sphereNick
      .modal-footer
        button#saveNick.btn.btn-primary(type="button") Apply 
#sphereDialog.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Create a sphere
      
      .modal-body
        input#sphereName(class="form-control" placeholder="Sphere name")
      
      .modal-footer
        button#saveSphere.btn.btn-primary(type="button") Save changes
#deleteSphere.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Select a Sphere to Delete
      
      .modal-body(style="text-align:left;")
            ul#deletableSpheres
                each sphereID, i in sphereIDs
                    if sphereMap[sphereID]
                        if sphereMap[sphereID].isOwner === true && sphereMap[sphereID].type != "Main"
                            - var sphereName = sphereMap[sphereID].name;
                            li(data=sphereID)
                                span(class="glyphicon glyphicon-globe" style="padding-right:5px;")
                                a(href='#')=sphereName
                           
#sharePost.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Share With..
        ul#shareSelection(class="nav nav-tabs" role="tablist")
            li.active
                a(href='#' onclick='showSphereList();') Spheres
            li  
                a(href='#' onclick='showContactList();') Contacts
          
        #shareRecipients.modal-body
            ul#shareSpheres
                each sphereID, i in sphereIDs 
                    if sphereMap[sphereID]
                        if sphereMap[sphereID].type == "Group"
                            - var sphereName = sphereMap[sphereID].name;
                            li(data=sphereID)
                                span(class="glyphicon glyphicon-globe")
                                a(href='#')=sphereName
            ul#shareContacts(style='display:none;')
                each contactId in contactIds
                    - var contact = contacts[contactId];
                        li(data=contactId) 
                            span(class="glyphicon glyphicon-user")
                            a(href='#')=contact 


#editPost.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Edit this post 
      
      .modal-body
        textarea#editContent(class="form-control" )
      
      .modal-footer
        button#saveEdits.btn.btn-primary(type="button") Save changes
#removePost.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Are you sure you want to remove this post?  
      
      .modal-body
        button#acceptDeletion.btn.btn-primary(type="button") Yes
        button#rejectDeletion.btn.btn-primary(type="button") No
#sphereDeleteCheck.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
 .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Are you sure you want to delete 
            span 
            |?
      .modal-body
        button#acceptSphereDeletion.btn.btn-primary(type="button") Yes
        button#rejectSphereDeletion.btn.btn-primary(type="button") No
        p All of the sphere's content will be erased

#preload
    img(src="/img/settings_hover.png")
    img(src="/img/post_settings_hover.png")
    img(src="/img/loading.gif")
    img(src="/img/share_post_hover.png")
    img(src="/img/share_small_hover.png")
    img(src="/img/sphere_add_hover.png")
    img(src="favicon.png")
    img(src="/img/contacts_hover.png")
    img(src="/img/close_hover.png")
script.
    // harvest all sphere related data for client tracking/use 
    sphereData = !{JSON.stringify(data)};
    username = sphereData.username;
    nickname = sphereData.nickname;
    nicknames = sphereData.nicknames;
    sphereMap = sphereData.sphereMap;
    currentSphere = sphereData.currentSphere;
    totalUpdates = sphereData.totalUpdates;
    sphereIDs = sphereData.sphereIDs;
    sphereID = sphereMap[currentSphere].id;
    sphereIndex = sphereIDs.indexOf(currentSphere); 
    sphereLink = sphereMap[currentSphere].link;
    posts = sphereData.posts; 
    feed = sphereData.feed;
    logged = sphereData.logged;
    contacts = Object.keys(sphereData.contacts);
    viewedIcon = "<a class='viewedIcon' href='#' data-toggle='tooltip' data-placement='top' title=''></a>";
    shareIcon = "<a class='shareIcon' href='#' data-toggle='modal' data-target='#sharePost' title='Share'></a>";
    saveIcon = "<a class='saveIcon' href='#'></a>";
    chat = new Chat(username); 
script.
    $(document).ready(function(){
        $.getScript('/js/chat_bindings.js')
        $.getScript('/js/lib/jquery.slimscroll.min.js')
            .done(function(){
               $.getScript('/js/main.js'); 
            }); 
    });
  
